@function blend-hardmix ($foreground, $background) {
  $bm-red: blend-hardmix-color(red($foreground), red($background));
  $bm-green: blend-hardmix-color(green($foreground), green($background));
  $bm-blue: blend-hardmix-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}

@function blend-hardmix-color($foreground, $background) {
  $tmp: blend-vividlight-color($foreground, $background);
  @if $tmp < 128 {
    $foreground: 0;
  } @else {
    $foreground: 255;
  }
  @return $foreground;
}