@function blend-lineardodge ($foreground, $background) {
  $bm-red: blend-lineardodge-color(red($foreground), red($background));
  $bm-green: blend-lineardodge-color(green($foreground), green($background));
  $bm-blue: blend-lineardodge-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}
@function blend-lineardodge-color($foreground, $background) {
  @if $background + $foreground > 255 {
    $foreground: 255;
  }
  @else {
    $foreground: $background + $foreground;
  }
  @return $foreground;
}