@function blend-pinlight ($foreground, $background) {
  $bm-red:   blend-pinlight-color(red($foreground), red($background));
  $bm-green: blend-pinlight-color(green($foreground), green($background));
  $bm-blue:  blend-pinlight-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}

@function blend-pinlight-color($foreground, $background) {
  @if $foreground < 128 {
    $foreground: blend-darken-color($background, 2 * $foreground);
  } @else {
    $foreground: blend-lighten-color($background, 2 * ($foreground - 128));
  }
  @return $foreground;
}