@function blend-divide ($foreground, $background) {
  $bm-red: blend-divide-colors(red($foreground), red($background));
  $bm-green: blend-divide-colors(green($foreground), green($background));
  $bm-blue:blend-divide-colors(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}
@function blend-divide-colors($foreground, $background) {
  @return min((($background / 255) / ($foreground / 255)) * 255, 255);
}