@function blend-linearlight ($foreground, $background) {
  $bm-red: blend-linearlight-color(red($foreground), red($background));
  $bm-green: blend-linearlight-color(green($foreground), green($background));
  $bm-blue: blend-linearlight-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}
@function blend-linearlight-color($foreground, $background) {
  @if $foreground < 128 {
    $foreground: blend-linearburn-color($background, 2 * $foreground);
  } @else {
    $foreground: blend-lineardodge-color($background, 2 * ($foreground - 128));
  }
  @return $foreground;
}