@function blend-colorburn ($foreground, $background) {
  $bm-red: blend-colorburn-color(red($foreground), red($background));
  $bm-green: blend-colorburn-color(green($foreground), green($background));
  $bm-blue: blend-colorburn-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}
@function blend-colorburn-color($foreground, $background) {
  $tmp: (255 - ((255 - $background) * 255) / $foreground);

  // TODO: hacked to replicate photoshop
  @if $foreground == 0 {
    $foreground: 255;
  } @elseif $tmp < 0 {
    $foreground: 0;
  } @else {
    $foreground: $tmp;
  }
  @return $foreground;
}