@function blend-overlay ($foreground, $background) {
    $bm-red: blend-overlay-color(red($foreground), red($background));
    $bm-green: blend-overlay-color(green($foreground), green($background));
    $bm-blue: blend-overlay-color(blue($foreground), blue($background));

    @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}
@function blend-overlay-color($foreground, $background) {
    @if $background <= (255 / 2) {
        $foreground: (2 * $background * $foreground) / 255;
    } @else {
        $foreground: 255 - (255 - 2 * ($background - (255 / 2))) * (255 - $foreground) / 255;
    }
    @return $foreground;
}