@function blend-vividlight ($foreground, $background) {
  $bm-red: blend-vividlight-color(red($foreground), red($background));
  $bm-green: blend-vividlight-color(green($foreground), green($background));
  $bm-blue: blend-vividlight-color(blue($foreground), blue($background));

  @return blend-normal(rgba($bm-red, $bm-green, $bm-blue, opacity($foreground)), $background);
}

@function blend-vividlight-color($foreground, $background) {
  @if $foreground < 128 {
    $foreground: blend-colorburn-color(2 * $foreground, $background);
  } @else {
    $foreground: blend-colordodge-color(2 * ($foreground - 128), $background);
  }
  @return $foreground;
}