$arial: Arial, Helvetica, sans-serif;
$tahoma: Tahoma, Geneva, sans-serif;
$times: "Times New Roman", Times, serif;
$trebuchet: "Trebuchet MS", Arial, Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;



